<!DOCTYPE html>
<html>
	<head>
		<title>Books</title>
	</head>
	<body>
		Sciao belo<br>
		<% for(i=0; i < books.length; i++) { %>
		<a href="/ui/books/<%= books[i]._id %>"><%= books[i].title %></a>  <br><% } %>
		<br><a href="/ui/books/new">New book</a>
	</body>
</html>
