<%- include('common/header.ejs') %>
        <title>Book</title>
    </head>
    <body onload="fillBook('<%= book %>'); setheader()">
        <div>
            <a href="/ui/books"><%- include('common/back.ejs') %></a>
        </div>
        <br>
        <center>
            <label for="title"><b>Titolo: </b></label><input class="inputField" type="text" name="title" id="title" placeholder="Titolo" readonly><br>
            <label for="description"><b>Descrizione: </b></label><input class="inputField" type="text" name="description" id="description" placeholder="Descrizione" readonly><br>
            <label for="author"><b>Autore: </b></label><input class="inputField" type="text" name="author" id="author" placeholder="Autore" readonly><br>

            <div class="hiddenUserRole" style="width: 30%; margin: auto; margin-top: 10px;">
                <input class="button" type="submit" value="Prenota" onclick="reserveBook('<%= book %>')">
            </div>
        </center>
  </body>
</html>
