<%- include('common/header.ejs') %>
		<title>Books</title>
	</head>
	<body onload="getBooks(false); setheader();">
		<b>Filtro nome: </b><input type="text" id="filter"> 
		<button type="button" onclick="getBooks(true)">Filtra</button>
		<br><br>
		
		<div id="bookContainer">
			
		</div>
		<br>
		<div class="hiddenAdminRole">
			<a href="/ui/books/new">New book</a>
		</div>
		
	</body>
</html>
