<!DOCTYPE html>
<html>
	<head>
		<title>Copies</title>
	</head>
	<body>
		<br>
		<% for(i=0; i < copies.length; i++) { %>
		<a href="/ui/copies/<%= copies[i]._id %>"><%= copies[i].book %></a>  <br><% } %>
		<br><a href="/ui/copies/new">New copy</a>
	</body>
</html>
