<%- include('common/header.ejs') %>
		<title>Copies</title>
	</head>
	<body onload="getCopies(); setheader()">
		<br>
		<div id="copiesContainer">
			
		</div>
		<br><a name="adminonly" href="/ui/copies/new">New copy</a>
	</body>
</html>
