<%- include('common/header.ejs') %>
        <title>Edit Copy</title>
    </head>
    <body onload="setheader(); getCopyDetails('<%= copy %>')">
        <div><a href="/ui/dashboard"><button class="fa fa-arrow-left" style="font-size: 20px;"> Indietro</button></a></div>
        <br>
        <center>
            <h2>Modifica copia</h2>
            <label for="book"><b>Libro: </b></label><select class="inputField" name="book" id="book" placeholder="Libro" required></select><br>
            <label for="owner"><b>Proprietrio: </b></label><input class="inputField" name="owner" id="owner" placeholder="Proprietario" required><br>
            <label for="buyer"><b>Acquirente: </b></label><input class="inputField" name="buyer" id="buyer" placeholder="Acquirente" required><br>
            <label for="price"><b>Prezzo: <b></label><input class="inputField" name="price" id="price" placeholder="Prezzo" required><br>
            <div style="width: 30%; margin: auto; margin-top: 10px;">
                <button class="button" name="adminonly" onclick="insertCopy('<%= copy %>')">Modifica</button>
                <button class="delete" name="adminonly" onclick="purgeCopy('<%= copy %>')">Elimina</button>
            </div>
        </center>
  </body>
</html>
