<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../public/style.css">
        <script src="../../public/script.js" type="text/javascript"></script>	
		<title>Dashboard</title>
	</head>
	<body onload="getUserStatus()">
		<div class="dashboardcontainer">
		<div class="dashboardindex">
			<div class="indextitle">DashBoard</div>
			<div class="divider"></div>
			<button class="indexbutton" onclick="dashboardselected(0)">Users</button>
			<div class="divider"></div>
			<button class="indexbutton" onclick="dashboardselected(1)">Books</button>
			<div class="divider"></div>
			<button class="indexbutton" onclick="dashboardselected(2)">Copies</button>
			<div class="divider"></div>
			<button class="indexreturn indexbutton"><a href="/ui">Home</a></button>
		</div>
		<div>
			<div class="dashinnercontainter" id="usercontainer">
				<div id="userlist">
				</div>
			</div>
			<div class="dashinnercontainter closed" id="bookcontainer">
				<a href="/ui/books/new">New book</a>
				<div id="booklist">
				</div>
			</div>
			<div class="dashinnercontainter closed" id="copycontainer">
				<a href="/ui/copies/new">New copy</a>
				<div id="copylist">
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
