<%- include('common/header.ejs') %>
		<title>Home</title>
	</head>
    <body onload="setheader()">
        <h1>Home</h1>
        <h2>Useful links</h2>
        <a href="ui/copies">Copies(admin only dont touch)</a>
    </body>
</html>