<%- include('common/header.ejs') %>
		<title>Home</title>
		<style>
			td{
				padding: 5px 10px;
			}
		</style>
	</head>
    <body onload="setheader()">
        <center>
			<a class="button" href="/ui/books">Inizia a sfogliare i libri</a>
			<br>
			<p style="font-size: 20px;">Siamo sempre disponibili via mail a <b>pincopallino@gmail.com</b>
			<br><br>
			<div style="display: flex; align-items: center; justify-content: center;">
				<div style="margin: 0px 20px;">
					<h4 style="font-size: 20px;">Orari di apertura</h4>
					<table>
						<tr>
							<td>Lunedì</td>
							<td>10-12 // 15.30-17.30</td>
						</tr>
						<tr>
							<td>Martedì</td>
							<td>10-12 // 15.30-17.30</td>
						</tr>
						<tr>
							<td>Mercoledì</td>
							<td>10-12 // 15.30-17.30</td>
						</tr>
						<tr>
							<td>Giovedì</td>
							<td>10-12 // 15.30-17.30</td>
						</tr>
						<tr>
							<td>Venerdì</td>
							<td>10-12 // 15.30-17.30</td>
						</tr>
						<tr>
							<td>Sabato</td>
							<td>10-12</td>
						</tr>
					</table>
				</div>

				<div style="margin: 0px 20px;">
					<h4 style="font-size: 20px;">Giorni d'apertura</h4>
					<p>Sessione di settembre</p>
					<p><b>Raccolta libri: </b> dal 01/09 al 04/09</p>
					<p><b>Vendita libri: </b> dal 06/09 al 09/09</p>
					<p><b>Ritiro soldi: </b> 10/09 e 11/09</p>
				</div>
			</div>
			<br><br>
			<div style="width: 80%; text-align: center;">
				<h1>Vuoi vendere / acquistare dei libri?</h1>
				<br>
				<table>
					<tr>
						<td style="width: calc(100%/3)"><span class="fa fa-book" style="color:rgb(51, 51, 51);font-size:48px;"></span></td>
						<td style="width: calc(100%/3)"><span class="fa fa-shopping-cart" style="color:rgb(51, 51, 51);font-size:48px;"></span></td>
						<td style="width: calc(100%/3)"><span class="fa fa-money" style="color:rgb(51, 51, 51);font-size:48px;"></span></td>
					</tr>
					<tr>
						<td><p>Portaci i tuoi libri usati degli anni precendenti. Noi provvederemo a catalogarli e a metterli in vendita.</p></td>
						<td><p>Ora i tuoi libri sono in vendita, al 55% del prezzo di copertina, chiunque attraverso questo sito può prenotarli previa registrazione e poi venire a ritirali in sede.</p></td>
						<td><p>Se i tuoi libri sono stati venduti riceverai il 45% del prezzo di copertina per ogni libro.Altrimenti se non tutti sono stati venduti riceverai i soldi per i libri venduti e potrai decidere se riprendere i libri invenduti o donarli alla scuola.</p></td>
					</tr>
				</table>
			</div>
			<br>
			<a class="button" href="/ui/books">Inizia a sfogliare i libri</a>
		</center>
    </body>
</html>
