<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
        <script src="/public/script.js" type="text/javascript"></script>
	</head>
    <body>
        <h1>Home</h1>
        <button type="button" onclick="logout()">Logout</button>
    </body>
</html>
