<%- include('common/header.ejs') %>
		<title>Login</title>
	</head>
	<body onload="setheader()">
        <center>
            <!-- change /api/users into /ui/users + ajax -->
                <h2>Login</h2>
                Email: <input type="email" id="email" required><br>
                Password: <input type="password" id="password" required><br>
                <button type="button" onclick="login()">submit</button>
        </center>
	</body>
</html>
