<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	</head>
	<body>
        <center>
            <!-- change /api/users into /ui/users + ajax -->
			<h2>Login</h2>
            <form action="/api/login" method="POST">
                Email: <input type="email" name="email" required><br>
                Password: <input type="password" name="password" required><br>
                <input type="submit" value="Submit">
            </form>
        </center>
	</body>
</html>
