<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<script src="/public/script.js" type="text/javascript"></script>
	</head>
	<body onload="getProfile()">
		<center>
			<div style="background:teal; padding: 25px 0;"id="profileInfo"></div><br>
			<div style="background:greenyellow; padding: 25px 0;"id="reservations"></div>
		</center>
	</body>
</html>
