<%- include('common/header.ejs') %>
		<title>Profile</title>
	</head>
	<body onload="getProfile();setheader()">
		<center>
			<div style="background:teal; padding: 25px 0;"id="profileInfo"></div><br>
			<div style="background:greenyellow; padding: 25px 0;"id="reservations"></div>
		</center>
	</body>
</html>
