<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<script src="/public/script.js" type="text/javascript"></script>
	</head>
<<<<<<< HEAD
	<body>
		
		<br><br>
		<b>Nome: </b> <%= user.name %>
		<br>
		<b>Email: </b> <%= user.email %>
=======
	<body onload="getProfile()">
		<center>
			<div id="profileInfo">
				
			</div>
		</center>
>>>>>>> origin/gui
	</body>
</html>
