<!DOCTYPE html>
<html>
	<head>
		<title>Signin</title>
	</head>
	<body>
        <center>
			<h2>Signin</h2>
            <form action="/api/users" method="POST">
                name: <input type="text" name="name" required=""><br>
                email: <input type="email" name="email" required=""><br>
                password: <input type="password" name="password" required=""><br>
                <input type="submit" value="Submit">
            </form>
        </center>
	</body>
</html>