<%- include('common/header.ejs') %>
		<title>Signin</title>
	</head>
	<body onload="setheader()">
        <center>
			<h2>Signin</h2>
                name: <input type="text" id="name" required=""><br>
                email: <input type="email" id="email" required=""><br>
                password: <input type="password" id="password" required=""><br>
                <button type="button" onclick="signin()">submit</button>
        </center>
	</body>
</html>