<%- include('common/header.ejs') %>
		<title>Signin</title>
	</head>
	<body onload="setheader()">
        <center>
			<h2>Registrazione</h2>
                <input class="inputField" type="text" id="name" placeholder="Nome" required=""><br>
                <input class="inputField" type="email" id="email" placeholder="Email" required=""><br>
                <input class="inputField" type="password" id="password" placeholder="Password" required=""><br>
				<br>
                <button class="button" type="button" onclick="signin()">Registrati</button>
        </center>
	</body>
</html>
