<!DOCTYPE html>
<html>
	<head>
		<title>Registration</title>
	</head>
	<body>
        <center>
            <!-- change /api/users into /ui/users + ajax -->
            <form action="/api/users" method="POST">
                <input type="text" name="name" required><br>
                <input type="email" name="email" required><br>
                <input type="password" name="password" required><br>
                <input type="submit" value="Submit">
            </form>
        </center>
	</body>
</html>
