<!DOCTYPE html>
<html>
	<head>
		<title>Edit User</title>
	</head>
	<body>
		Sciao belo
        <br>
        <form action="" method="POST">
            <input type="text" name="name" required><br>
            <input type="email" name="email" required><br>
            <input type="password" name="password" required><br>
            <input type="submit" value="Submit">
        </form>
	</body>
</html>
